# Dependencies
node_modules/


# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Test outputs
*.log
*.txt
test-results/
coverage/
allure-results/
allure-report/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
