# Dependencies
node_modules/
package-lock.json

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Test outputs
*.log
*.txt
test-results/
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
